.chart {
  display: flex;
  flex-direction: column;
  height: 610px;
  background: var(--background-secondary);
  border-radius: 12px;
  border: 1px solid var(--stroke-separator-primary);
  padding: 48px 52px;

}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  margin-bottom: 64px;
}

.title{
  color: var(--color-text-general);
  font-feature-settings: 'clig' off, 'liga' off;

  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: default;

  &__sub{
    @extend .title;
    color: var(--light-text-text-secondary, #818C99);
  }
}

.averageBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 610px;
  cursor: default;
  background: var(--background-info-col);
  border-radius: 12px;
  overflow: hidden;
  @media (max-width: 992px) {
    flex-direction: row;
    height: 100px;
    margin-bottom: 20px;
    padding: 8px;
  }

  &__label {
    color: var(--color-text-general);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    word-break: break-all;
  }

  &__value {
    color: var(--color-text-general);
    cursor: default;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  &__item1{
    padding: 0 20px;
    align-items: center;
    display: flex;
    height: 106px;
    width: 100%;

    @media (max-width: 992px) {
      height: 100%;
    }
  }


  &__item5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 186px;
    @media (max-width: 992px) {
      height: 100%;
    }
  }
}