.rc_root {
    background-color: var(--backgroung-general) !important;
    border: 1px solid var(--color-border-form) !important;
    z-index: 99999;
    position: absolute !important;
    margin-top: 20px;
}

.rc_header_nav .rc_header_nav-prev {
    color: var(--calendar-text-color) !important;
}

.rc_body-weekdays {
    border: 0px;
}

.rc_body-cell_value {
    height: 100% !important;
}

.rc_body-days-of-month .rc_body-cell.rc_active button {
    color: var(--calendar-text-color) !important;
}

.rc_body-weekdays_cell {
    color: var(--calendar-text-color) !important;
}

.rc_body-days-of-month .rc_body-cell.rc_wknd:not(.rc_active) button {
    color: var(--calendar-text-color) !important;
}

.rc_body-days-of-month .rc_body-cell .rc_body-cell_value:hover {
    background-color: #39393a !important;
}

.rc_body-weekdays_cell.rc_wknd {
    color: var(--calendar-text-color) !important;
}

.rc_body-days-of-month .rc_body-cell button {
    color: var(--calendar-text-color) !important;
}

.rc_body-days-of-month .rc_body-cell.rc_in_range .rc_body-cell_value {
    width: 100% !important;
    border-radius: 0px !important;
    background-color: var(--calendar-range-color) !important;
}

.rc_body-days-of-month .rc_body-cell.rc_range_start button:first-child,
.rc_body-days-of-month .rc_body-cell.rc_wknd.rc_range_start button:first-child {
    background-color: #2688eb !important;
    border-radius: 4px 0px 0px 4px !important;
    width: 100% !important;
    height: 100% !important;
}

.rc_body-days-of-month .rc_body-cell.rc_range_end button:last-child,
.rc_body-days-of-month .rc_body-cell.rc_wknd.rc_range_end button:last-child {
    background-color: #2688eb !important;
    border-radius: 0px 4px 4px 0px !important;
    width: 100% !important;
    height: 100% !important;
}

.rc_body-weekdays_cell.rc_wknd {
    color: var(--calendar-text-color) !important;
}