@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}



.container2_mobile::-webkit-scrollbar {
    width: 6px;
}

.container2_mobile::-webkit-scrollbar-thumb {
    background-color: #B0B1B6;
    border-radius: 20px;
    height: 10px;
}

.mainUserSelect {
    height: 100vh;
    left: 0;
    top: 50px;
}

.message__sender__mobile {
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: max-content;
    max-width: 380px;
    word-wrap: break-word;


    color: var(--color-text-general);
    background: var(--background-sidebar);
    border-radius: 20px 20px 20px 8px;
}

.message-sender__mobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    flex-direction: row;
    align-items: center;
    margin: 0;

    letter-spacing: 0.1px;

}

.message__system__mobile {
    max-width: max-content;
    padding: 2px 6px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 5px;
    margin-top: 5px;

    color: var(--color-text-general);
    background: var(--background-sidebar);
    border-radius: 8px 8px 8px 8px;
}

.message-sender-system__mobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    flex-direction: row;
    align-items: center;
    margin: 0;

    letter-spacing: 0.1px;

}

.message__tonality__mobile {
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;

    letter-spacing: 0.2px;

    color: #818C99;
}

.message__recipient__mobile {
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 110px;
    max-width: 380px;
    word-wrap: break-word;
    color: #000000;


    background: #DED8FF;
    border-radius: 20px 20px 8px 20px;

}

@media (max-width: 1300px) {
    .message__recipient {
        margin-right: 0px;
    }
}

.main__info__mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

@media (max-width: 650px) {
    .main__info__mobile {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        margin-left: -11px;
        margin-right: -11px;
    }
}

.main__chatContent {
    height: 100vh;
}

.user__info__mobile {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid var(--color-border)
}

.user__icon2 {
    width: 36px;
    height: 36px;

    background-color: #2e3235;
    border-radius: 24px;
    margin-right: 10px;
}

.user__name {
    height: 20px;
    display: flex;
    flex-direction: row;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    letter-spacing: -0.01em;

    color: var(--color-text-general);

}

.container2_mobile {
    position: relative;
    width: 100%;
    background: var(--background-chats);
    padding: 50px;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-track-color: var(--background-sidebar);
}

.container3 {
    width: 100%;
    background: var(--background-chats);
    padding: 10px;
    display: flex;
}

.container4 {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-track-color: var(--background-sidebar);
}

.search {
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

input {
    outline: none;
}


.form__field {
    width: 90%;
    height: 44px;
    margin-right: 10px;
    padding: 10px;
    color: var(--color-text-general);

    border-radius: 8px;
    border: 1px solid var(--color-border-form);
    background-color: var(--background-sidebar);

}

.btn-theme {
    background: #8B74FF;
    border: 1px solid var(--color-border-form);
    color: var(--color-text-general);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    gap: 4px;
    cursor: pointer;

    width: 44px;
    height: 44px;

    opacity: 0.64;
    border-radius: 24px;

}

.btn-theme:hover {
    background-color: #c5baf9;
}

.empty__chat {
    margin: 20px auto;
    justify-content: center;
    background-color: var(--background-sidebar-tab);
    padding: 3px 10px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}

.empty__text {
    color: var(--color-text-general);
}

.btn_toBottom {
    width: 44px;
    height: 44px;
    cursor: pointer;
    padding-top: 14px;
    padding-left: 14px;

    position: fixed;
    bottom: 80px;
    right: 88px;

    background-color: var(--background-sidebar);
    border-radius: 41px;
}

.btn_toBottom:hover {
    background-color: #363738;
}

.btn_toBottom::after {
    content: "";
    display: block;
    height: 50px;
}

.close__appeal {
    margin-left: auto;
    align-items: center;
}

.wrapper__appeal {
    padding: 4px 8px;
    background-color: var(--color-close-appeal);
    border-radius: 8px;
}

.wrapper__appeal__close {
    display: none;
}

.close__appeal__text {
    color: #2688eb;
    font-size: 14px;
}

.wrapper__appeal:hover {
    cursor: pointer;
    background-color: var(--background-sidebar-tab-hover);
}